* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*Inicio*/
body{
   background-image:url(../imagenes/logo.png);
   background-repeat: repeat;
   font-family: 'Bebas Neue', cursive;
}



.nav {

    width: 100%;
    color: white;
    
    font-family: 'Bebas Neue';
    display:block;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;


}


.nav a{ 
    display: flex;
    display:inline;
    font-size: 2rem;
    margin: 3rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    
}


.frase{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    position:absolute;
    text-align: center;
    bottom: 35%;
    right: 22%;

}

.video{
   
   display: flex;
   justify-content: center;
   overflow: hidden;

    
}

.alert-light{
    background: red;
    text-align: center;
    color: black;
    font-size: 2rem;
}


.conteiner-boton{
    position: absolute;
    z-index: 9999;

}

    .boton{

        position: fixed;
        width: 15%;
        top: 75%;
        left: 87%;
        margin: -2%;
        
    }
@-webkit-keyframes animar{

    0%{-webkit-transform: translate(0px,0px);}
    10%{-webkit-transform: translate(20px,0px);}
    20%{-webkit-transform: translate(0px,0px);}
    30%{-webkit-transform: translate(20px,0px);}
    40%{-webkit-transform: translate(0px,0px);}
    50%{-webkit-transform: translate(20px,0px);}
    60%{-webkit-transform: translate(0px,0px);}
    70%{-webkit-transform: translate(20px,0px);}
    80%{-webkit-transform: translate(0px,0px);}
    90%{-webkit-transform: translate(20px,0px);}
    100%{-webkit-transform: translate(0px,0px);}
}


.boton:hover{
    -webkit-animation: animar 0.5s 1;

}

/*zapatillas*/

.fotos{
    display: inline-flex;

}


.titulozapa{
    position: absolute;
    color:white;
    top: 20%;
    left: 20%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

/*Cards zapatillas para el*/



.card{
    background: none;
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    left: 2%;
    
    
}

.card :hover{
    transform: translatex(15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}

.card__foto{
    padding: 0px;
    margin:0;
    width: 180px; 
    border-radius: 15px;
    
    
}

.card__descripcion{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

/*Cards zapatillas para ella*/

.tituloella{
    position: absolute;
    color:white;
    top: 20%;
    left: 65%;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}


.cards{
    
    width: 350px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    left: 55%;

    
    
}

.cards :hover{
    transform: translatex(15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}

.card__ella{
    padding: 0px;
    margin:0;
    width: 180px; 
    border-radius: 15px;
    
    
}

.card__descripcion2{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}


/*Ropa*/

.Body{ 
    display: flex;
    justify-content: center;
}

.ropa{
    
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    margin-left: 4%;
  
    
}

.mujer{
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    grid-template-rows: auto ;
    gap: 5em;
    margin-left: 10%;
    left: 170%;

}


.card__ropa{
    padding: 0px;
    margin:0;
    width: 300px; 
    border-radius: 15px;
    
    
}

.cardropa{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}



/*quienes somos*/


.tituloquienes{

    position: absolute;
    color:white;
    top: 10%;
    left:40%;
    position: absolute;

}

.tituloquienes h1 {
    font-size: 3.8rem;
    margin-top: 30%;
}

.frasejordan{
        color: white;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 20%;
        
    }


/*servicio*/


.titulo23 h1 {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 4rem;
    color:white;
    bottom: 65%;
    left: 43%;
    position: absolute;
}

.parrafo23 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 2.2rem;
    color:white;
    bottom: 20%;
    left: 3%;
    position: absolute;
}

.parrafo23 p {
    width: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

/*Boostrap*/

.container{
    background:white;
    position: absolute;
    color:black;
    margin-right: 10%;
    top: 80%;

}


.mejorar{
    background: black;
    color: white;
    top: 10%;
    font-size: 2rem;
    text-align: center;
    padding-top: 1%;

}

.container{
    width: 80%;
    margin: 10% 10%;
    text-align: center;

    }

 


.foto :hover{
    transition-
    
}

.col p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}


.mb-3{
    background: ghostwhite;
    color: black;
    font-size:2rem;
}

.btn-dark{
    color:white;
    float: right;
}

.caja{
    background: black;
    color: white;
    top: 10%;
    text-align: center;
}


/*footer*/

.flex {

    color: white;
    font-size: 1.5rem;
    font-family: 'Teko', sans-serif;
    position: absolute;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    top:170%;
    width: 100%;
}



    /*Media responsive*/


    @media screen and ( max-width:1200px ) {

       Body{
           background-repeat: repeat;
       }
        
        .nav {
            width:100%;   
          }

        .frase{
           top: 80%;
           margin-left: 25%;
           text-align:center;
        }

        .flex{
          width: 90%;
          left: 5%;
          right: 5%;
          top: 200%;
        }

        .boton{
            top: 60%;
            
        }    

        .parrafo23 p{
            width: 100%;
            margin-left: 1%;
            margin-right: 2%;

        }



    }

@media screen and ( max-width:1006px ) {

    .nav a{
        margin: 1rem;
    }

    .container{
        width: 80%;
        justify-content: center;
        overflow:hidden;
    }
}

@media screen and (max-width: 767px){

    .frase{
        text-align: left;
        font-size: 2rem;
        top: 80%;
     }


     .container{
         left: 5%;

        
    }

    .titulo23 h1 {
        left: 38%;
    }

    .parrafo23 p{
        width: 95%;
        margin-left: %;
        margin-right: 1%;

    }

}

@media screen and (max-width:686px) {

    .nav a {
        width: 100%;
        display: block;
        margin: 0.5%;
        background-color: rgba(0, 0, 0, 0.274);
        text-align: center;
    }

    .frase{
        text-align: left;
        font-size: 2rem;
        top: 140%;
     }

    .flex{
        width: 90%;
        left: 5%;
        right: 5%;
        top: 240%;
        
      
      }


    .container{
        left: 1%;
        top: 160%;
        background-color: rgba(0, 0, 0, 0.274);
        color: white;

   
   }

   .titulo23 h1{
       top: 70%;
       background-color: rgba(0, 0, 0, 0.274);

   }

   .parrafo23 {
       top: 100%;

   }

   .parrafo23 p {
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
   }
  


}
