* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*Inicio*/
body{
    background-color: black;
}



.nav {

    width: 100%;
    color: white;
    
    font-family: 'Bebas Neue';
    display:block;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;


}


.nav a{ 
    background-image: linear-gradient(red black);
    display: flex;
    display:inline;
    font-size: 2rem;
    margin: 3rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    
}

.frase{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    position:absolute;
    text-align: center;
    bottom: 35%;
    right: 22%;

}

.video{
   
   display: flex;
   justify-content: center;
   overflow: hidden;

    
}



/*zapatillas*/

.fotos{
    display: inline-flex;

}


.titulozapa{
    position: absolute;
    color:white;
    top: 20%;
    left: 20%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

/*Cards zapatillas para el*/



.card{
    
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    left: 2%;
    
    
}

.card :hover{
    transform: translatex(15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}

.card__foto{
    padding: 0px;
    margin:0;
    width: 250px; 
    border-radius: 15px;
    
    
}

.card__descripcion{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

/*Cards zapatillas para ella*/

.tituloella{
    position: absolute;
    color:white;
    top: 20%;
    left: 65%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}


.cards{
    
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    left: 55%;

    
    
}

.cards :hover{
    transform: translatex(15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}

.card__ella{
    padding: 0px;
    margin:0;
    width: 250px; 
    border-radius: 15px;
    
    
}

.card__descripcion2{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}


/*Ropa*/

.Body{ 
    display: flex;
    justify-content: center;
}

.ropa{
    
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    left: 2%;
  
    
}

.mujer{
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    grid-template-rows: auto ;
    gap: 5em;
    left: 170%;

}


.card__ropa{
    padding: 0px;
    margin:0;
    width: 270px; 
    border-radius: 15px;
    
    
}

.cardropa{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}



/*quienes somos*/

.imagejordan{
    width: 100%;
     overflow: hidden;
     justify-content: center;
     position: relative;
    

}

.tituloquienes{
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 2rem;
    color:white;
    bottom: 82%;
    left: 35%;
    position: absolute;

}

.frasejordan{
        font-family: 'Bebas Neue', cursive;
        position: absolute;
        font-size: 1.8rem;
        color:white;
        position: absolute;
        bottom: 60%;
        left: 20%;
        text-align: center;
    }


/*servicio*/
.imagen23{
    width: 100%;
    height: 30%;
    justify-content: center;
    display: flex;
    
}

.titulo23 {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 3rem;
    color:white;
    bottom: 60%;
    left: 41%;
    position: absolute;
}

.parrafo23 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 2rem;
    color:white;
    bottom: 30%;
    left: 18%;
    position: absolute;
}

.mejorar{
    background: black;
    color: white;
    top: 10%;
    font-size: 2rem;
    text-align: center;
    padding-top: 1%;

}

.caja{
    background: black;
    color: white;
    top: 10%;
    text-align: center;
}


/*footer*/

.flex {
        background: black;
        color: white;
        font-size: 1.5rem;
        font-family: 'Teko', sans-serif;
        display: inline-block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }


    /*Media responsive*/
@media screen and (max-width: 1200px){
    

        .frase {
            top: 300px;
            
        }



        .card{
    
            width: 400px;
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto ;
            gap: 4em;
            top: 80%;
            left: 2%;


            }
            

        .card__foto{
            padding: 0px;
            margin:0;
            width: 200px; 
            border-radius: 15px;
            
            
        }
        
        .card__descripcion{
            width: 100%;
            background-color: black;
            color: white;
            padding: 0;
            margin: 0;
            text-align: center;
            border-radius: 15px;
            font-family: 'Teko', sans-serif;
            font-size: 1.5rem;
        }
.cards{
        width: 400px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto ;
        gap: 4em;
        top: 80%;
        left: 60%;


        }
        .card__ella{
            padding: 0px;
            margin:0;
            width: 200px; 
            border-radius: 15px;
            
            
        }
        
        .card__descripcion2{
            width: 100%;
            background-color: black;
            color: white;
            padding: 0;
            margin: 0;
            text-align: center;
            border-radius: 15px;
            font-family: 'Teko', sans-serif;
            font-size: 1.5rem;

            }

            .ropa{
               
                left: 5%; 
                top: 65%;  
            }
  
            .card__ropa{
            
                width: 200px; 
            
            }
            
            .mujer{
                width: 400px;
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr   ;
                grid-template-rows: auto ;
                gap: 5em;
                left: 160%;
            
            }
            
            
           
        
            

/*servicios*/
.parrafo23{
    left: 10%;
}

    

 @media screen and (max-width: 992px){
            .nav a {
                
                display:inline-block;
            
                margin: 0% ;
                padding top: 3%;
                margin-left: 8%;
    
            }

            .frase{
                left: 20% ;

                }
                .card{
    
                    width: 300px;
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto ;
                    gap: 4em;
                    top: 60%;
                    left: 2%;
        
        
                    }
                    
        
                .card__foto{
                    padding: 0px;
                    margin:0;
                    width: 180px; 
                    border-radius: 15px;
                    
                    
                }
                
                .card__descripcion{
                    width: 100%;
                    background-color: black;
                    color: white;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    border-radius: 15px;
                    font-family: 'Teko', sans-serif;
                    font-size: 1.5rem;
                }
        .cards{
                width: 400px;
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto ;
                gap: 3rem;
                top: 60%;
                left: 55%;
        
        
                }
                .card__ella{
                    padding: 0px;
                    margin:0;
                    width: 180px; 
                    border-radius: 15px;
                    
                    
                }
                
                .card__descripcion2{
                    width: 100%;
                    background-color: black;
                    color: white;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    border-radius: 15px;
                    font-family: 'Teko', sans-serif;
                    font-size: 1.5rem;

}

.Body{
    justify-content: center;
}


.card__ropa{
    padding: 0px;
    margin:0;
    width: 120px; 
    border-radius: 15px;
    
    
}
.mujer{
    left: 120%;
}

}
.ropa{
               
    left: 2%; 
    top: 65%;  
}


.card__ropa{

    width: 180px; 

}

/*Quienes somos*/

.frasejordan{
left: 10%;
}

/*servicios*/
.parrafo23{
    left: 1%;
}

.titulo23{
    left: 40%;
    font-size: 2rem;
}

            


  @media screen and (max-width : 886px){
    .nav a {
        display:inline-block;
        margin: 2% ;
        padding top: 3% ;
        margin-left: 3%;




    }

    .cards{
        width: 300px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto ;
        gap: 3rem;
        top: 60%;
        left: 55%;


        }
        .card__ella{
            padding: 0px;
            margin:0;
            width: 150px; 
            border-radius: 15px;
            
            
        }
        .card{
    
            width: 300px;
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto ;
            gap: 4em;
            top: 60%;
            left: 2%;


            }
            

        .card__foto{
            padding: 0px;
            margin:0;
            width: 100px; 
            border-radius: 15px;
                
            }

            .Body{
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            .ropa{
               width: 355px;
                left: 5%; 
                top: 65%;  
                gap: 1.5rem;
            }
  
            .card__ropa{
            
                width: 180px; 
            
            }
            
            .mujer{
                width: 200px;
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr   ;
                grid-template-rows: auto ;
                gap: 1.5em;
                left: 110%;
            
            }
            
/*Quienes somos*/

.frasejordan{
    left: 3%;
    }
               
            
            @media screen and (max-width : 772px){ 
                .cards{
                    width: 300px;
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto ;
                    gap: 3rem;
                    top: 60%;
                    left: 55%;
            
            
                    }
                    .card__ella{
                        padding: 0px;
                        margin:0;
                        width: 140px; 
                        border-radius: 15px;
                        
                        
                    }
                    .card{
                
                        width: 300px;
                        position: absolute;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto ;
                        gap: 4em;
                        top: 60%;
                        left: 1%;
            
            
                        }
                        
            
                    .card__foto{
                        padding: 0px;
                        margin:0;
                        width: 150px; 
                        border-radius: 15px;
                            
                        }

 /*Quienes somos*/

.frasejordan{
    text-align: center;
    left:2%;
    font-size: 1.6rem;
    background-color: rgba(253, 0, 0, 0.445);
    max-height: fit-content;
    top: 20%;
    margin: 0;
    padding: 0;
    }
               


    /*servicio*/
    .parrafo23{
        top: 50%;
        font-size: 1.9rem;
        background-color: rgba(253, 0, 0, 0.445);
        max-height: fit-content;

    }

    .ropa{
        width: 355px;
         left: 1%; 
         top: 65%;  
         gap: 1.5rem;
     }

     .card__ropa{
     
         width: 170px; 
     
     }
     
     .mujer{
         width: 140px;
         position: absolute;
         display: grid;
         grid-template-columns: 1fr 1fr   ;
         grid-template-rows: auto ;
         gap: 1.5em;
         left: 110%;
     
     }


     @media screen and (max-width : 700px){ 

     .ropa{
        width: 320px;
         left: 2%; 
         top: 65%;  
         gap: 1.5rem;
     }

     .card__ropa{
     
         width: 150px; 
     
     }
     
     .mujer{
         width: 140px;
         position: absolute;
         display: grid;
         grid-template-columns: 1fr 1fr   ;
         grid-template-rows: auto ;
         gap: 2rem;
         left: 110%;
         top: 1%;
     
     }
    
  
  }