/* asi se forman las variables*/
.btn-twitter {
  color: #09fae6;
}

.btn-facebook {
  color: #0101ff;
}

.btn-instagram {
  color: violet;
}

.btn-email {
  color: red;
}

/*extenden*/
/*mixin*/
.frase {
  height: 100px;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Inicio*/
body {
  background-image: url(../imagenes/logo.png);
  background-repeat: repeat;
  font-family: 'Bebas Neue', cursive;
}

.nikeszapa {
  justify-content: center;
  overflow: hidden;
}

.navbar-brand {
  font-size: 2.5rem;
}

.offcanvas-header h5 {
  font-size: 2.3rem;
}

.nav-item {
  font-size: 1.3rem;
}

.video {
  overflow: hidden;
  justify-content: center;
}

.frase {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: white;
  position: absolute;
  text-align: center;
  bottom: 2%;
  right: 23%;
}

.button {
  font-size: 2.5rem;
  margin-left: 32%;
}

.button .btn-twitter {
  background: none;
}

.button .btn-instagram {
  background: none;
}

.button .btn-facebook {
  background: none;
}

.button .btn-email {
  background: none;
}

/*whstaspp con transicion*/
.conteiner-boton {
  z-index: 999;
  transition: ease 0.3s;
}

.boton {
  position: fixed;
  width: 15%;
  top: 60%;
  left: 87%;
  margin: -2%;
}

.boton:hover {
  transform: scale(2);
  transition: ease 1s;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -ms-transition: ease 1s;
  -o-transition: ease 1s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

/*footer--anidado*/
.flex {
  color: white;
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
  position: absolute;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  top: 170%;
  width: 100%;
}

.flex p {
  color: red;
  font-size: 2rem;
}

/*footer*/
.conteiner1 {
  padding-top: 50%;
}

.row {
  background: #5e5252;
  color: white;
}

.pie {
  padding: 1rem;
  font-size: 2rem;
}

.pais {
  font-size: 1.3rem;
  color: black;
  padding-left: 1rem;
}

.footer-titulos {
  padding: 1rem;
  font-size: 1.5rem;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.footer {
  display: inline;
}

.copy {
  float: left;
  font-size: 2rem;
  margin: 2rem;
}

.email {
  font-size: 2rem;
  margin: 2rem;
  float: right;
}

.fotos {
  display: inline-flex;
}

.titulozapa {
  position: absolute;
  color: white;
  top: 20%;
  left: 20%;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
}

/*Cards zapatillas para el*/
.grid {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid5 grid6' 'grid3 grid4 grid7 grid8';
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 5rem;
  margin-top: 5rem;
  padding: 10%;
  text-align: center;
}

.descripcionzapa {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border-bottom: 15%;
}

.grid1 {
  grid-area: grid1;
}

.grid2 {
  grid-area: grid2;
}

.grid3 {
  grid-area: grid3;
}

.grid4 {
  grid-area: grid4;
}

.grid5 {
  grid-area: grid5;
}

.grid6 {
  grid-area: grid6;
}

.grid7 {
  grid-area: grid7;
}

.grid8 {
  grid-area: grid8;
}

/*Cards zapatillas para ella*/
.tituloella {
  position: absolute;
  color: white;
  top: 20%;
  left: 65%;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
}

.cards {
  width: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5em;
  top: 0%;
  left: 220%;
  padding: 5rem;
  left: 40rem;
}

.card__foto {
  background-color: black;
  padding: 0px;
  margin: 0;
  width: 200px;
  border-radius: 15px;
}

.card__descripcion2 {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 15px;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}

/*footer*/
.row {
  padding: 0rem;
  background: #5e5252;
  color: white;
}

.pie {
  font-size: 2rem;
}

.pais {
  font-size: 1.3rem;
  color: black;
}

.footer-titulos {
  font-size: 1.5rem;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

/*Ropa*/
.gridropa {
  display: grid;
  grid-template-areas: 'ropa1 ropa2 ropa5 ropa6' 'ropa3 ropa4 ropa7 ropa8';
  gap: 5rem;
  margin-top: 5rem;
  padding: 10%;
}

.ropadescripcion {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border-bottom: 15%;
}

.card__ropa {
  background-color: black;
  padding: 0px;
  margin: 0;
  width: 200px;
  border-radius: 15px;
}

.ropa1 {
  grid-area: ropa1;
}

.ropa2 {
  grid-area: ropa2;
}

.ropa3 {
  grid-area: ropa3;
}

.ropa4 {
  grid-area: ropa4;
}

/*servicio*/
.titulo23 h1 {
  position: absolute;
  font-size: 4rem;
  color: white;
  top: 30%;
  bottom: 65%;
  left: 43%;
  position: absolute;
}

.parrafo23 {
  color: white;
  width: 95%;
  padding-left: 12%;
  padding-top: 20rem;
  font-size: 2.1rem;
  justify-items: baseline;
}

/*Boostrap*/
.container {
  background: white;
  color: black;
}

.mejorar {
  background: black;
  color: white;
  top: 10%;
  font-size: 2rem;
  text-align: center;
  padding-top: 1%;
}

.container {
  width: 90%;
  margin: 10%;
  text-align: center;
}

.rounded {
  width: 30%;
  top: 20%;
}

.caja {
  background: black;
  color: white;
  text-align: center;
}

.columa {
  text-align: center;
  padding: 7rem;
}

.infoser {
  text-align: center;
}

.mb-3 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: ghostwhite;
  color: black;
  font-size: 2rem;
}

.btn-dark {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  color: white;
}

/*quienes somos*/
.tituloquienes {
  position: absolute;
  color: white;
  top: 10%;
  left: 40%;
  position: absolute;
}

.tituloquienes h1 {
  font-size: 3.8rem;
  margin-top: 30%;
}

.frasejordan {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;
}

.columa {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.col p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.fotos {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  margin: 0;
  padding: 0%;
  top: 100%;
  padding-left: 15%;
  left: 0%;
  border: 100px;
  animation-name: animacion;
  animation-duration: 5s;
}

@keyframes animacion {
  from {
    top: 0px;
  }
  to {
    top: 680px;
  }
}

@media screen and (max-width: 1200px) {
  .fotos {
    top: 138%;
  }
  @keyframes animacion {
    from {
      top: 0px;
    }
    to {
      top: 740px;
    }
  }
}

@media screen and (max-width: 1148px) {
  /*zapatillas*/
  .grid {
    display: grid;
    grid-template-areas: 'grid1 grid2 grid5 grid6' 'grid3 grid4 grid7 grid8';
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding-right: 5rem;
  }
  /*ropa*/
  .gridropa {
    display: grid;
    grid-template-areas: 'ropa1 ropa2 ropa5 ropa6' 'ropa3 ropa4 ropa7 ropa8';
    gap: 2rem;
    padding-right: 5rem;
  }
  /*quienes somos*/
  .tituloquienes {
    margin-top: 5%;
  }
  .frasejordan {
    width: 100%;
    margin-left: 1%;
    margin-right: 10%;
    font-size: 2rem;
    margin-top: 30%;
  }
  .mb-3 {
    width: 80%;
    top: 300%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .form-label {
    font-size: 2rem;
  }
  .btn-dark {
    margin-right: 10%;
    font-size: 1.5rem;
  }
  /*servicios*/
  .container {
    margin: 5rem;
  }
  .fotos {
    top: 140%;
  }
  @keyframes animacion {
    from {
      top: 0px;
    }
    to {
      top: 750px;
    }
  }
}

.flex {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 1016px) {
  .fotos {
    top: 150%;
  }
  @keyframes animacion {
    from {
      top: 0px;
    }
    to {
      top: 810px;
    }
  }
}

@media screen and (max-width: 991px) {
  /*zapatillas*/
  .grid {
    display: grid;
    grid-template-areas: 'grid1 grid5' 'grid2 grid6' 'grid3 grid7' 'grid4 grid8';
    gap: 8rem;
    width: 100%;
    padding-left: 12rem;
  }
  .descripcionzapa {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-bottom: 15%;
    text-align: center;
  }
  .grid1 {
    grid-area: grid1;
  }
  .grid2 {
    grid-area: grid2;
  }
  .grid3 {
    grid-area: grid3;
  }
  .grid4 {
    grid-area: grid4;
  }
  .grid5 {
    grid-area: grid5;
  }
  .grid6 {
    grid-area: grid6;
  }
  .grid7 {
    grid-area: grid7;
  }
  .grid8 {
    grid-area: grid8;
  }
  .container {
    width: 100%;
    margin-left: 8rem;
    padding-right: 4rem;
  }
  .fotos {
    margin-left: 4rem;
  }
  /*ropa*/
  .gridropa {
    display: grid;
    grid-template-areas: 'ropa1 ropa5' 'ropa2 ropa6' 'ropa3 ropa7' 'ropa4 ropa8';
    gap: 15rem;
    padding-left: 12rem;
  }
  .gridropa {
    width: 10px;
  }
  /*footer*/
  /*quienes*/
  .tituloquienes {
    top: 5%;
  }
  .tituloquienes {
    left: 37%;
  }
}

@media screen and (max-width: 940px) {
  .frasejordan {
    margin-top: 40%;
    font-size: 1.6rem;
  }
  .form-label {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 868px) {
  .fotos {
    top: 155%;
  }
  @keyframes animacion {
    from {
      top: 0px;
    }
    to {
      top: 835px;
    }
  }
}

@media screen and (max-width: 850px) {
  .gridropa {
    padding-left: 13%;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-areas: 'grid1' 'grid2' 'grid3' 'grid4' 'grid5' 'grid6' 'grid7' 'grid8';
    gap: 5rem;
  }
  .grid1 {
    grid-area: grid1;
  }
  .grid2 {
    grid-area: grid2;
  }
  .grid3 {
    grid-area: grid3;
  }
  .grid4 {
    grid-area: grid4;
  }
  .grid5 {
    grid-area: grid5;
  }
  .grid6 {
    grid-area: grid6;
  }
  .grid7 {
    grid-area: grid7;
  }
  .grid8 {
    grid-area: grid8;
  }
  .frase {
    text-align: left;
    font-size: 2rem;
    top: 80%;
  }
  /*ropa*/
  .gridropa {
    display: grid;
    grid-template-areas: 'ropa1'  'ropa2' 'ropa3' 'ropa4' 'ropa5' 'ropa6' 'ropa7' 'ropa8';
    gap: 7rem;
    padding-left: 18rem;
    padding-right: 8rem;
  }
  /*quienes somos*/
  .tituloquienes h1 {
    width: 100%;
  }
  .tituloquienes {
    left: 15rem;
  }
  .frasejordan {
    font-size: 1.5rem;
    margin-left: 0rem;
    width: 100%;
  }
  /*servicio*/
  .container {
    left: 5%;
  }
  .titulo23 h1 {
    left: 38%;
  }
  .parrafo23 p {
    top: 10%;
    width: 95%;
    margin-right: 1%;
  }
  .fotos {
    top: 160%;
    animation-duration: 4s;
  }
  .container {
    width: 100%;
    margin-left: 7rem;
    padding-right: 1rem;
    margin-top: 30%;
  }
  .fotos {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 686px) {
  .frase {
    text-align: left;
    font-size: 2rem;
    top: 140%;
  }
  /*quienes somos*/
  .tituloquienes {
    left: 30%;
  }
  .frasejordan {
    margin-top: 20rem;
  }
  .mb-3 {
    margin-left: 4rem;
  }
  /*servicio*/
  .container {
    margin-left: 5rem;
    padding-right: 1rem;
    margin-top: 30%;
    top: 160%;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
  }
  .titulo23 h1 {
    top: 45%;
    background-color: rgba(0, 0, 0, 0.425);
  }
  .parrafo23 {
    padding-top: 80%;
  }
  .parrafo23 p {
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
  }
  .fotos {
    top: 210%;
    animation-duration: 4s;
  }
  @keyframes animacion {
    from {
      top: 0%;
    }
    to {
      top: 210%;
    }
  }
  /*zapatillas*/
  .card {
    display: grid;
    padding-left: 7rem;
  }
  .cards {
    display: grid;
    left: 2%;
    top: 120%;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 638px) {
  .container {
    width: 85%;
    padding-bottom: 20%;
    margin-left: 9%;
    margin-right: 1%;
  }
}

.gridropa {
  padding-left: 13rem;
}

@media screen and (max-width: 591px) {
  .fotos {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /*zapas*/
  .grid {
    padding-left: 8rem;
    gap: 2rem;
  }
  .frase {
    width: 70%;
    text-align: center;
    font-size: 1.3rem;
    top: 70%;
    left: 18%;
  }
  .titulo23 h1 {
    left: 30%;
  }
  .parrafo23 {
    top: 90%;
  }
  .card {
    display: block;
  }
  .card__descripcion {
    width: 100%;
    align-items: center;
  }
  .cards {
    display: grid;
    grid-template-columns: auto;
  }
  .card__descripcion p {
    width: 90%;
  }
  /*quienes somos*/
  .tituloquienes {
    top: 15%;
    left: 20%;
  }
  .frasejordan {
    font-size: 1.3rem;
  }
  .flex {
    top: 400%;
  }
  .form-label {
    font-size: 1.2rem;
  }
  /*ropa*/
  .gridropa {
    padding-left: 9rem;
  }
}

@media screen and (max-width: 332px) {
  .grid {
    padding-left: 6rem;
  }
  .card__foto {
    width: 150px;
  }
}
/*# sourceMappingURL=estilo.css.map */