* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Inicio*/
  body {

   background-image:linear-gradient( white , black) ;
   height: 100%;
   width: 100%;
    font-family: 'Bebas Neue', cursive;


    
  }

  .nikeszapa{
    justify-content:center;
    overflow: hidden;
   

  }


  .navbar-brand{
    font-size: 2.5rem;
  

  
  }

  .offcanvas-header h5{
    font-size: 2.3rem;
  }

  .nav-item{
    font-size: 1.3rem;
  }
  

  
  
  
  .frase {
    font-size: 3rem;
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 35%;
    left: 4%;

  }


  /*

.button{
  font-size: 2.5rem;
  margin-left: 32%;



  .btn-twitter{
    
    background: none;

  }

  .btn-instagram{
    
    background: none;

  }

  .btn-facebook{
    
    background: none;

  }

  .btn-email {
  
      background: none;

    }
  
    }

    */

  


  /*whstaspp con transicion*/
.conteiner-boton{
   
  z-index: 999;
  transition: ease 0.3s;
  
}

.boton{

  position: fixed;
  width: 15%;
  top: 60%;
  left: 87%;
  margin-right: 5rem;
  margin: -2%;
  
}


.boton:hover{
  transform: scale(2);
  transition: ease 1s;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -ms-transition: ease 1s;
  -o-transition: ease 1s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}




  /*footer*/


  .row{
    background:rgb(94, 82, 82);
    color:white;
    padding: 0%;
    margin: 0%;


  }


  .pie{
    padding: 1rem;
    font-size: 3rem;

  }

  .pais{
    font-size:1.3rem ;
    color: black;
    padding-left: 1rem;
  }

  .footer-titulos{
    padding: 1rem;
    font-size: 1.5rem;

  }

 .links{
   text-decoration: none;
   color: black;
   font-size: 1.3rem ;
   padding-left: 1rem;
 }


 .footer{
  
  display:inline;

 }

 .copy{
   float: left;
   font-size: 2rem;
   margin: 2rem;
 }


 .email{
  font-size: 2rem;
  margin: 2rem;
  float: right;
  

 }

 
