@media screen and (max-width: 1200px){
    
    .fotos{
        top: 138%;
    }

    @keyframes animacion{
        from{
            top:0px;
        }
        to{
           top:740px;
            
        }
}


}



@media screen and (max-width: 1148px){


    /*zapatillas*/
    
    .grid{
        display: grid;
        grid-template-areas: 'grid1 grid2 grid5 grid6'
                             'grid3 grid4 grid7 grid8'
                             
    
        ;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap:2rem;
        padding-right: 5rem;
       
    }




    
/*ropa*/

.gridropa{
    display: grid;
    grid-template-areas: 'ropa1 ropa2 ropa5 ropa6'
                         'ropa3 ropa4 ropa7 ropa8'
    ;

    gap:2rem;
    padding-right: 5rem;
   
}





/*quienes somos*/


.tituloquienes{

    margin-top: 5%;
}

.frasejordan{
    width: 100%;
    margin-left: 1%;
    margin-right: 10%;
    font-size: 2rem;
    margin-top: 30%;
    
}

.mb-3{
    width: 80%;
    top: 300%;
    margin-left: 10%;
    margin-right: 10%;


}

.form-label{
    font-size: 2rem;
}

.btn-dark{
    margin-right: 10%;
    font-size: 1.5rem;
}





/*servicios*/

    .container {
      margin: 5rem;
    }

    .fotos{
        top: 140%; 
    }
    
    @keyframes animacion{
        from{
            top:0px;
        }
        to{
           top:750px;
            
        }
}

}

.flex{
    width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}



@media screen and (max-width: 1016px){

    .fotos{
        top: 150%; 
    }
    
    @keyframes animacion{
        from{
            top:0px;
        }
        to{
           top:810px;
            
        }
}

}

@media screen and (max-width: 991px) {


    /*zapatillas*/

    .grid{
        display: grid;
        grid-template-areas: 'grid1 grid5'
                             'grid2 grid6'
                             'grid3 grid7'
                             'grid4 grid8'
    
        ;
       gap: 8rem;
       width: 100%;
       padding-left: 12rem;

    
    }
    
    .descripcionzapa{
        background-color: black;
        color: white;
        font-size: 1.5rem;
        border-bottom: 15%;
        text-align: center;
    }
    
    .grid1{
    
        grid-area:grid1;
        
        }
    .grid2{
        grid-area:grid2;
    
    }
    .grid3{
        grid-area: grid3;
    
    }
    .grid4{
        grid-area: grid4;
    
    
    }
    .grid5{
        grid-area: grid5;
    
    }
    .grid6{
        grid-area: grid6;
    
    }
    .grid7{
        grid-area: grid7;
    
    }
    .grid8{
        grid-area: grid8;
    
    }
    
    
    



    


    .container{
        width: 100%;
        margin-left: 8rem;
        padding-right: 4rem;
      }

    .fotos{
        margin-left: 4rem;
    }


    /*ropa*/

.gridropa{
    display: grid;
    grid-template-areas: 'ropa1 ropa5'
                          'ropa2 ropa6'
                          'ropa3 ropa7'
                          'ropa4 ropa8'
    
    ;
    gap: 15rem;
    padding-left: 12rem;
   
}

.gridropa{
    width: 10px;
}




   /*footer*/





    /*quienes*/

    .tituloquienes{
        top: 5%;
    }
    .tituloquienes {
        left: 37%;
    }
    
}

@media screen and (max-width: 940px) {

.frasejordan{
    margin-top: 40%;
    font-size: 1.6rem;
}

.form-label{
    font-size: 1.6rem;
}
    
}


@media screen and (max-width: 868px){

    .fotos{
        top: 155%; 
    }
    
    @keyframes animacion{
        from{
            top:0px;
        }
        to{
           top:835px;
            
        }
}

}




@media screen and (max-width: 850px){

    .gridropa{
        padding-left: 13%;
    }


}





@media screen and (max-width: 767px){



    .grid{
        display: grid;
        grid-template-areas: 'grid1'
                             'grid2'
                             'grid3'
                             'grid4'
                             'grid5'
                             'grid6'
                             'grid7'
                             'grid8'
    
        ;
       gap: 5rem;
    
    }
    

    .grid1{
    
        grid-area:grid1;
        
        }
    .grid2{
        grid-area:grid2;
    
    }
    .grid3{
        grid-area: grid3;
    
    }
    .grid4{
        grid-area: grid4;
    
    
    }
    .grid5{
        grid-area: grid5;
    
    }
    .grid6{
        grid-area: grid6;
    
    }
    .grid7{
        grid-area: grid7;
    
    }
    .grid8{
        grid-area: grid8;
    
    }


  



    .frase{
        text-align: left;
        font-size: 2rem;
        top: 80%;
     }



     /*ropa*/

     .gridropa{
         display: grid;
         grid-template-areas:
                              'ropa1' 
                              'ropa2'
                              'ropa3'
                              'ropa4'
                              'ropa5'
                              'ropa6'
                              'ropa7'
                              'ropa8'
         ;
         gap: 7rem;
         padding-left: 18rem;
         padding-right: 8rem;
     }


    



/*quienes somos*/

.tituloquienes h1{
    width: 100%;
}

.tituloquienes{
    left: 15rem;
}

.frasejordan{
    font-size: 1.5rem;
    margin-left: 0rem;
    width: 100%;
}


     /*servicio*/

     .container{
         left: 5%;

        
    }

    .titulo23 h1 {
        left: 38%;
    }

    .parrafo23 p{
        top: 10%;
        width: 95%;
        margin-right: 1%;

    }

    .fotos{
        top: 160%;
        animation-duration: 4s;
    }

    .container{
        width: 100%;
        margin-left: 7rem;
        padding-right: 1rem;
        margin-top: 30%;
      }

    .fotos{
        margin-left: 2rem;

    }

    

   

}

@media screen and (max-width:686px) {


    .frase{
        text-align: left;
        font-size: 2rem;
        top: 140%;
     }



    /*quienes somos*/

.tituloquienes{
    left: 30%;
}
    .frasejordan{
        margin-top:20rem;

    }

    .mb-3{
        margin-left: 4rem;
    
    }

    /*servicio*/

    .container{
        margin-left: 5rem;
        padding-right: 1rem;
        margin-top: 30%;
        top: 160%;
        background-color: rgba(0, 0, 0, 0.425);
        color: white;

   
   }

   .titulo23 h1{
       top: 45%;
       background-color: rgba(0, 0, 0, 0.425);

   }

   .parrafo23 {
    padding-top: 80%;

   }

   .parrafo23 p {
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
   }

   .fotos{

    top: 210%;
    animation-duration: 4s;
}


@keyframes animacion{
    from{
        top:0%;
    }
    to{
        top:210%;
        
    }

    }

/*zapatillas*/

.card{
    display:grid;    
    padding-left:7rem ;

}



.cards{
    display: grid;
    left: 2%;
    top: 120%;
    padding-right: 10rem;  

}


}


@media screen and (max-width:638px) {
    .container{
    width: 85%;
        padding-bottom: 20%;
        margin-left:9%;
        margin-right: 1%;
    

    }
   


}


     .gridropa{
    padding-left: 13rem;
  }


@media screen and (max-width:591px){

    .fotos{
        display: none;
    }


    

}

@media screen and (max-width:480px){


    /*zapas*/

    .grid{
         padding-left: 8rem;
        gap: 2rem;
    }

   

    .frase{
        width: 70%;
        text-align: center;
        font-size: 1.3rem;
        top: 70%;
        left: 18%;
    }



    .titulo23 h1{
        left: 30%;
    }

    .parrafo23 {
        top: 90%;
    }

.card{
    display: block;
}

.card__descripcion{
    width: 100%;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: auto ;

}


.card__descripcion p{
    width: 90%;

}


/*quienes somos*/

.tituloquienes{
    top: 15%;
    left: 20%;
}

.frasejordan{
    font-size: 1.3rem;
}


.flex{
    top: 400%;
}

.form-label{
    font-size: 1.2rem;

}


/*ropa*/

.gridropa{
    padding-left: 9rem;
  }



}

@media screen and (max-width:332px){

   .grid {
      padding-left: 6rem;  
    }

    .card__foto{
        width: 150px;
    }
    
}
