/*quienes somos*/

.tituloquienes{

    position: absolute;
    color:white;
    top: 10%;
    left:40%;
    position: absolute;

}

.tituloquienes h1 {
    font-size: 3.8rem;
    margin-top: 30%;
}

.frasejordan{
        color: white;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 20%;
        
    }

    .columa{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }


    
.col p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}

    .fotos{
        display:inline-flex;
        position: absolute;
        justify-content: center;
        margin: 0;
        padding: 0%;
        top: 100%;
        padding-left: 15%;
        left: 0%;
        border: 100px;
        animation-name: animacion;
        animation-duration: 5s;
    }
    
    @keyframes animacion{
        from{
            top:0px;
        }
        to{
           top:680px;
            
        }
    
    }
