/*Ropa*/




.gridropa{
    display: grid;
    grid-template-areas: 'ropa1 ropa2 ropa5 ropa6'
                         'ropa3 ropa4 ropa7 ropa8'
    ;

    gap:5rem;
    padding-top: 1rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
   
}

.tituloropa{
    display: flex;
    padding-top: 10rem;
    padding-bottom: 0%;
}


.tituloropael{
    position: relative;
    margin-left: 30%;

}

.tituloropaella{
    position: relative;
    margin-left: 30%;



}

.ropadescripcion{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-bottom: 15%;

}

.card__ropa{
    background-color: black;
    padding: 0px;
    margin:0;
    width: 200px; 
    border-radius: 15px;

}


.ropa1{
    grid-area: ropa1;
}

.ropa2{
    grid-area: ropa2;
}

.ropa3{
    grid-area: ropa3;
}

.ropa4{
    grid-area: ropa4;
}