/*servicio*/


.titulo23 h1 {
    position: absolute;
    font-size: 4rem;
    color:white;
    top: 30%;
    bottom: 65%;
    left: 43%;
    position: absolute;
}


.parrafo23 {
    color: white;
    padding-left: 12%;
    padding-top: 25rem;
    font-size: 2.3rem;
    
}

/*Boostrap*/


.container{
    background:white;
    color:black;

}


.mejorar{
    background: black;
    color: white;
    top: 10%;
    font-size: 2rem;
    text-align: center;
    padding-top: 1%;

}



.container{
    width: 90%;
    margin: 10%;
    text-align: center;

    }

 

.rounded{
    width: 30%;
    top: 20%;
    }





.caja{
    background: black;
    color: white;
    text-align: center;
}


.columa{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.infoser{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;

}


.col p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.fotos{
    margin-left: 20rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
       
    }
    
    @keyframes animacion{
        
        from{
            top:0px;
        }
        to{
           top:680px;
            
        }
        
    
        }