.fotos{
    display: inline-flex;

}


.titulozapa{
    position: absolute;
    color:white;
    top: 20%;
    left: 20%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

/*Cards zapatillas para el*/



.card{
    background: none;
    width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 40%;
    padding: 5rem;
    
    
}

.card__foto{
    padding: 0px;
    margin:0;
    width: 180px; 
    border-radius: 15px;
     
}

.card__descripcion{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

/*Cards zapatillas para ella*/

.tituloella{
    position: absolute;
    color:white;
    top: 20%;
    left: 65%;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}


.cards{
    
    width:400px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    gap: 5em;
    top: 0%;
    left: 220%;
    padding: 5rem;
    left:40rem;

    
    
}


.card__foto{
    padding: 0px;
    margin:0;
    width: 200px; 
    border-radius: 15px;
    
    
}

.card__descripcion2{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}
