.fotos{
    display: inline-flex;

}


.titulozapa{
    position: absolute;
    color:white;
    top: 20%;
    left: 20%;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

/*Cards zapatillas para el*/

.grid{
    display: grid;
    grid-template-areas: 'grid1 grid2 grid5 grid6'
                         'grid3 grid4 grid7 grid8'
                         

    ;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap:5rem;
    margin-top: 5rem;
    padding: 10%;
    text-align: center;
}

.descripcionzapa{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-bottom: 15%;
}

.grid1{

    grid-area:grid1;
    
    }
.grid2{
    grid-area:grid2;

}
.grid3{
    grid-area: grid3;

}
.grid4{
    grid-area: grid4;


}
.grid5{
    grid-area: grid5;

}
.grid6{
    grid-area: grid6;

}
.grid7{
    grid-area: grid7;

}
.grid8{
    grid-area: grid8;

}




/*Cards zapatillas para ella*/

.tituloella{
    position: absolute;
    color:white;
    top: 20%;
    left: 65%;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}


.cards{
    
    width:30px;
   
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    gap: 5em;
    top: 0%;
    left: 220%;
    padding: 5rem;
    left:40rem;

    
    
}


.card__foto{
    background-color: black;
    padding: 0px;
    margin:0;
    width: 200px; 
    border-radius: 15px;
    
    
}

.card__descripcion2{
    width: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

/*footer*/

.row{
    padding: 0rem;
    background:rgb(94, 82, 82);
    color:white;

  }


  .pie{
    font-size: 2rem;

  }

  .pais{
    font-size:1.3rem ;
    color: black;
  }

  .footer-titulos{
    font-size: 1.5rem;

  }

 .links{
   text-decoration: none;
   color: black;
   font-size:1.3rem ;
 }

 
